html,
body {
  padding: 0;
  margin: 0;
}
:root{
  --color-backgound: #131E40;
  --color-letter-title: #5E92BF;
  --color-letter-paragraph: #96BFD9;
  --color-second-light: #26488C;
  --color-second-dark: #1F3B73;
  --font-title:'Montserrat', sans-serif;
  --font-paragraph: 'Hind', sans-serif; 
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
